.container {
    min-width: 100%;
}

.containerFixed {
    min-width: 100%;
    position: fixed;
}

.headerLogo {
    background: transparent url("../images/home_img/logoProPetsWhiteSmall.png") no-repeat center padding-box;
    height: 2.2em;
}

.header {
    background: #669885 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
    color: #FFFFFF;
    height: 4.38em;
}

.header i {
    font-size: 1.5em;
    opacity: 1;
}

.addPostButton {
    background: #84B6A3 0 0 no-repeat padding-box;
    height: 2.2em;
    max-width: 9em;
    border-radius: 20px;
    opacity: 1;
    color: #FFFFFF;
}

.addPostButton i {
    font-size: medium;
}

.addPostButton span {
    font: 14px Montserrat;
}


@media (min-width: 768px) {
    .headerLogo {
        margin-top: 5px;
        background: transparent url("../images/home_img/headerLogoForLarge.png") no-repeat left padding-box;

    }

    .header {
        background: #FFFFFF 0 0 no-repeat padding-box;
        color: #84b6a3;
    }
}
@media  (min-width: 1200px) {
    .addPostButton {
        min-width: 12em;
    }

}

