.page {
    max-height: 100%;
}

.header {
    height: 4.38em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.headerDropMenu {
    color: #FFFFFF;
}

.headerDropMenu i {
    height: 34px;
    font-size: x-large;
}


.headerLogo {
    display: inline-block;
    height: 34px;
    background: transparent url('../images/home_img/headerLogoForLarge.png') no-repeat center padding-box;
    padding: 0;
}

.headerButton {
    max-width: 145px;
    vertical-align: middle;
    height: 2.6em;
    background: #84B6A3 0 0 no-repeat padding-box;
    border-radius: 1.3em;
    opacity: 1;
}

.headerButtonText {
    font-family: Bold, Montserrat, sans-serif;
    font-size: 0.85em;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}


.mainNavigation, .mainNavigationSmall {
    background: #84B6A3 0 0 no-repeat padding-box;
    opacity: 1;
}

.mainNavigationSmall {
    z-index: 9999;
    position: absolute;
    display: block;
    height: 100%;
}

.noDisplay {
    display: none;
}

.mainNavigationSmallColorSide {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0.4;
}

.navButtonOn, .navButtonOff, .avatarOn, .avatarOff {
    height: 2.2em;
    text-align: left;
    border-radius: 0 17px 17px 0;
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
    padding-right: 1.2em;
}

.avatarOn, .avatarOff {
    height: 2.6em;
    align-items: center;
}

.navButtonOff, .avatarOff {
    background: #84B6A3 0 0 no-repeat padding-box;
}

.navButtonOn span, i, .navButtonOff span, i {
    font-family: Medium, Montserrat, sans-serif;
    font-size: 1em;
    color: #84B6A3;
    opacity: 1;
}

.navButtonOn i {
    color: #84B6A3;
}

.navButtonOff span, i {
    color: #FFFFFF;
}

.line {
    margin-top: 9em;
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.37;
}

.avatar {
    height: 2.3em;
    width: 2.3em;
    border-radius: 100px;
    opacity: 1;
}

.nameOn, .nameOff {
    text-align: left;
    font-family: Bold, Montserrat, serif;
    font-size: 0.8em;
    letter-spacing: 0;
    color: #84B6A3;
    opacity: 1;
}

.nameOff {
    color: #FFFFFF;
}


.targeting {
    background: #84B6A3 0 0 no-repeat padding-box;
    opacity: 1;
}

.post {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}


.postAuthorName {
    height: 2.3em;
    line-height: 1.1em;
    font-family: SemiBold, Montserrat, serif;
    font-size: 16px;
    letter-spacing: 0;
    color: #84B6A3;
    opacity: 1;
}

.postTime {
    text-align: left;
    font-family: Bold, Montserrat, serif;
    font-size: 14px;
    letter-spacing: 0;
    color: #BABABA;
    opacity: 1;
}

.postDropMenu {
    text-align: right;
    font-family: SemiBold, Montserrat, serif;
    font-size: 1.5em;
    letter-spacing: 0;
    color: #BABABA;
    opacity: 1;
}



.postText {
    text-align: left;
    font-family: Montserrat, serif;
    font-size: 16px;
    letter-spacing: 0;
    opacity: 1;
}
.moreTextButton {
    color: #75B29A;
}

.collapseText {
    color: #75B29A;
}

.postImage {
    max-width: 100%;
    max-height: 15em;
    background-size: cover;
}

.arrowImage {
    align-items: center;

}

.arrowImage i {
    font-size: 18px;
    color: #e7d5e7;
}

.favorites, .inFavorites {
    text-align: left;
    letter-spacing: 0;
    color: #BABABA;
    opacity: 1;
}


.inFavorites {
    color: #FFE18B;
}

.pic1, .pic2, .pic3 {
    opacity: 1;
    height: 219px;
    background: transparent url('../images/home_img/targetingPic1Small.png') no-repeat;
    background-size: contain;

}

.pic2 {
    height: 284px;
    background-image: url('../images/home_img/targetingPic2Small.png');
}

.pic3 {
    background-image: url('../images/home_img/targetingPic3Small.png');
    height: 98px;
}

.downMenu {
    background: #75B29A 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.downMenuText {
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    letter-spacing: 0;
    color: #393939;
    opacity: 1;
}

.faMenu {
    color: #393939;
}


.avatarAuthor {
    height: 2.8em;
    width: 2.8em;
    border-radius: 100px;
}


@media (max-width: 1200px) {
    .pic1, .pic2, .pic3 {
        display: none;
    }
}

@media (max-width: 768px) {
    .headerButton {
        background-color: #669885;
    }

    .headerButtonText, .mainNavigation, .targeting {
        display: none;
    }

    .avatarAuthor {
        height: 2em;
        width: 2em;
    }

    .headerLogo {
        background: transparent url('../images/home_img/logoProPetsWhiteSmall.png') no-repeat center padding-box;
    }

    .header {
        background: #669885 0 0 no-repeat padding-box;
    }

    .postAuthorName {
        font-size: 13px;
        padding-left: 0;
    }

    .postText {
        font-family: Montserrat, serif;
        font-size: 12px;
        letter-spacing: 0;
        opacity: 1;
    }

    .postTime {
        font-size: 10px;
    }


}

@media (min-width: 768px) {
    .headerDropMenu, .mainNavigationSmall {
        display: none;
    }
}
