
.header {
    align-items: center;
    height: 4.38em;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;

}

.headerLogo {
    display: inline-block;
    height: 34px;
    background: transparent url('../images/home_img/footerLogo.png') no-repeat center padding-box;
    padding: 0;
}

.headerButton {
    display: inline-block;
    height: 2.5em;
    background: #84B6A3 0 0 no-repeat padding-box;
    border-radius: 1.3em;
    border: none;
    opacity: 1;
}

.addButtonText {
    font-family: Bold, Montserrat, sans-serif;
    font-size: 0.85em;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.mainNavigation {
    background: #84B6A3 0 0 no-repeat padding-box;
    opacity: 1;
    padding-left: 0;
}

.navButtonHome, .navButtonOther {
    height: 2.2em;
    text-align: left;
    border-radius: 0 17px 17px 0;
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
    padding-right: 1.2em;
}

.navButtonOther {
    background: #84B6A3 0 0 no-repeat padding-box;
}

.navButtonHome span, i, .navButtonOther span, i {
    font-family: Medium, Montserrat, sans-serif;
    font-size: 1em;
    color: #84B6A3;
    opacity: 1;
}

.navButtonHome i {
    color: #84B6A3;
}

.navButtonOther span, i {
    color: #FFFFFF;
}

.line {
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.37;
}

.avatar {
    height: 2.3em;
    width: 2.3em;
    border-radius: 100px;
    border: 1px solid #FFFFFF;
    opacity: 1;
}

.name {
    text-align: left;
    font-family: Bold, Montserrat, serif;
    font-size: 0.8em;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}


.targeting {
    background: #84B6A3 0 0 no-repeat padding-box;
    opacity: 1;
}

.post {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
    max-height: 33em;
}


.postAuthorName {
    align-items: center;
    justify-content: center;
    height: 2.3em;
    line-height: 1.1em;
    text-align: left;
    font-family: SemiBold, Montserrat, serif;
    font-size: 1em;
    letter-spacing: 0;
    color: #84B6A3;
    opacity: 1;
}

.postTime {
    text-align: left;
    font-family: Bold, Montserrat, serif;
    font-size: 1em;
    letter-spacing: 0;
    color: #BABABA;
    opacity: 1;
}

.postDropMenu {
    text-align: right;
    font-family: SemiBold, Montserrat, serif;
    font-size: 1.5em;
    letter-spacing: 0;
    color: #BABABA;
    opacity: 1;
}

.postText {
    text-align: left;
    font-family: Montserrat, serif;
    font-size: 1em;
    letter-spacing: 0;
    opacity: 1;
}

.favorites {
    text-align: left;
    letter-spacing: 0;
    color: #BABABA;
    opacity: 1;
}

.pic1, .pic2, .pic3 {
    opacity: 1;
    height: 219px;
    background: transparent url('../images/home_img/194578053061e534f7d685209f06144b.png') no-repeat;
    background-size: contain;

}

.pic2 {
    height: 284px;
    background-image: url('../images/home_img/4aaf24a92b72b34f20406a424cc82de1.png');
}

.pic3 {
    background-image: url('../images/home_img/3c736769edb2e030741403fbfcee33f4.png');
    height: 98px;
}

.downMenu {
    background: #75B29A 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}
.downMenuText {
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 0.8em;
    letter-spacing: 0;
    color: #393939;
    opacity: 1;
}
.faMenu {
    color: #393939;
}
.postImage {
    height: 236px;
    background: transparent url('../images/home_img/5d87fd0f82452ab6787e72d1754d8900.png') 0 0 no-repeat padding-box;
    opacity: 1;
}
.avatarAuthor {
    height: 2.8em;
    width: 2.8em;
    border-radius: 100px;
}

@media screen and (max-width: 992px) {
    .mainNavigation {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .pic1, .pic2, .pic3 {
        display: none;
    }
}