.page {
    border: 1px solid #cbcbcb;
    max-height: 100%;
}


.typeButton, .additionalButton, .locationButton {
    outline: 0;
    outline-offset: 0;
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #8DBFAC;
    border-radius: 15px;
    width: 8.5em;
}

.additionalButton {
    float: right;
    width: 17em;
}

.locationButton {
    width: 13em;
}

.mapButton {
    outline: 0;
    outline-offset: 0;
    background: #8DBFAC 0 0 no-repeat padding-box;
    border-radius: 15px;
    width: 10em;
    float: right;
    line-height: 1.8em;
    font-size: 16px;
}

.mapButtonText {
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

input::placeholder {
    font-size: 14px;
    line-height: 1.57em;
    letter-spacing: 0;
    color: #84B6A3;
    opacity: 1;
}

.lostPostContainer {
    height: auto;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
}

.lostImageBox {
    display: inline-block;
    line-height: 21em;
}

img {
    max-width: 100%;
    height: auto;
}

.postTitle {
    align-self: center;
    font: Bold 27px Montserrat;
    letter-spacing: 0;
    color: #84B6A3;
}

.properties, .propertiesText {
    align-self: center;
    font: 14px Montserrat;
    letter-spacing: 0;
    color: #84B6A3;
}

.propertiesText {
    color: #393939;
}

.line {
    border-bottom: 1px solid #BABABA;
    opacity: 0.6;
    width: 100%;
}

.chevronLeft, .chevronRight {
    width: 3em;
    opacity: 0.5;
    font-size: 1.8em;
    position: absolute;

}

.chevronRight {
    right: 0;
}


.chevronLeft i, .chevronRight i {
    opacity: 0;
}

.chevronLeft:hover i, .chevronRight:hover i {
    color: black;
    opacity: 1;
}

.locationIcon {
    align-self: center;
    text-align: left;
    letter-spacing: 0;
    color: #84B6A3;
    opacity: 1;
}

.locationText {
    text-align: left;
    font: 14px Montserrat;
    letter-spacing: 0;
    color: #393939;
    opacity: 1;
}

.avatarAuthor {
    border: 1px solid #FFFFFF;
    height: 2.8em;
    width: 2.8em;
    border-radius: 100px;
}

.postAuthorName {
    text-align: left;
    font: 16px Montserrat;
    letter-spacing: 0;
    color: #84B6A3;
    opacity: 1;
}

.postDate {
    text-align: left;
    font: 12px Montserrat;
    letter-spacing: 0;
    color: #BABABA;
    opacity: 1;
}


.propertiesContainer {
    line-height: 1.3em;
}

.contactIcons i {
    font-size: 22px;
    color: #BABABA;
}

@media (max-width: 1200px) {
    .pic1, .pic2, .pic3 {
        display: none;
    }
}