.page {
    border: 1px solid #cbcbcb;
}

.lostPetButton, .foundPetButton {
    background: #FFE18B 0 0 no-repeat padding-box;
    border: 1px solid #FFE78D;
    height: 2.3em;
    border-radius: 17px;
    opacity: 1;
}

.foundPetButton {
    background: #84B6A3 0 0 no-repeat padding-box;
    border: 1px solid #8DBFAC;
}

.lostPetButton i {
    letter-spacing: 0;
    color: #393939;
}

.lostPetButton span, .foundPetButton span {
    text-align: left;
    font-size: 14px;
    font-family: Montserrat, Bold, sans-serif;
    letter-spacing: 0;
    color: #393939;
    opacity: 1;
}

.foundPetButton i, .foundPetButton span {
    color: #FFFFFF;
}

.typeButton, .additionalButton, .locationButton {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 1px solid #8DBFAC;
    border-radius: 15px;
    width: 7.5em;
}

.additionalButton {
    width: 15em;
}

.locationButton {
    width: 8em;
}

input::placeholder {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    color: #84B6A3;
    opacity: 1;
}
.lostPostContainer {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
}
.lostImageBox {
    display: inline-block;
    line-height: 250px;
    width: 250px;
    height: 250px;
}

img {
    max-width: 100%;
    height: auto;
}

.postTitle {
    text-align: left;
    font: Bold 22px/27px Montserrat;
    letter-spacing: 0px;
    color: #84B6A3;
    opacity: 1;
}