.pagination {
    min-height: 3em;
}

.pagination i {
    font-size: 1.5em;
    color: #669885;
}

.boxNumberOff, .boxNumberOn {
    border-radius: 100%;
    background-color: #FFFFFF;
    border: 1px solid #669885;
    min-width: 2.1em;
    min-height: 2.1em;
}

.boxNumberOn {
    background-color: #75B29A;
}

.boxNumberOff span, .boxNumberOn span {
    font: 16px Montserrat;
    font-weight: 700;
    color: #75B29A;
}
.boxNumberOn span {
    color: #FFFFFF;
}


