.post {
    box-shadow: 0 3px 6px #00000029;
}

.authorAvatar {
    border: 1px solid #FFFFFF;
    height: 3em;
    width: 3em;
    border-radius: 100px;
}

.authorName {
    display: flex;
    align-items: center;
    text-align: left;
    font: 16px Montserrat;
    font-weight: 600;
    line-height: 0.9em;
    letter-spacing: 0;
    color: #84B6A3;
    opacity: 1;
}

.timeStamp {
    text-align: left;
    font: Medium Montserrat, serif;
    font-size: 12px;
    color: #BABABA;
}

.post div p {
    text-align: left;
    font: 13px Montserrat;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0;
    opacity: 1;
}

.post div i {
    color: #669885;
    font-size: 1.4em;
}


.chevronLeft, .chevronRight {
    position: absolute;
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 0.7;
    z-index: 7000;
}

.chevronLeft i, .chevronRight i {
    color: #84b6a3;
}

.chevronRight {
    right: 0;
    top: 45%;
}

.chevronLeft {
    top: 45%;
}

.postImage img {
    max-width: 100%;
    height: auto;
    max-height: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .authorAvatar {
        height: 2.4em;
        width: 2.4em;
    }
}
